<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Geniee-ios-sdk by geniee-ssp</title>

    <link rel="stylesheet" href="{{ site.path }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.path }}/stylesheets/github-dark.css">
    <script src="{{ site.path }}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header class="without-description">
        <h1>Geniee-ios-sdk</h1>
        <p></p>
        <p class="view"><a href="https://github.com/geniee-ssp/Geniee-iOS-SDK">View the Project on GitHub <small>geniee-ssp/Geniee-iOS-SDK</small></a></p>
        <ul>
          <li><a href="https://github.com/geniee-ssp/Geniee-iOS-SDK/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/geniee-ssp/Geniee-iOS-SDK/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/geniee-ssp/Geniee-iOS-SDK">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/geniee-ssp">geniee-ssp</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  </body>
</html>
